.catalog {
  margin-bottom: 80px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: -12px 0 32px 0;
}

.breadcrumbs>.breadcrumbs__item+.breadcrumbs__item:before {
  padding: 0 5px;
  font-size: 14px;
  color: #ccc;
  content: "/";
}

.catalog__page-filter {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 22px 0;
}



.breadcrumbs__link {
  position: relative;
  color: $grey_color;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  transition: color 0.3s, outline 0.3s ease-in-out;
}

.breadcrumbs__link-active {
  color: $primary;
}


.contact__checkbox {
  color: $grey_shade;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.catalog__filter-bottom,
.catalog__filter-center,
.catalog__filter-top {
  display: flex;
  flex-direction: column;

}

.catalog__filter-top {
  margin-bottom: 18px;
}

.catalog__filter-center {
  margin-bottom: 16px;
}


.catalog__page-color {
  color: $grey_shade;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin: 0 0 9px 0;
}

.catalog__page-price {
  margin: 0 0 4px 0;
}

.catalog__name-sofa {
  margin: 0 0 20px 0;
}


.catalog__filter-bottom-wrap {
  display: flex;

}

.catalog__filter-bottom-wrap-block {

  margin-bottom: 10px;
}

.filter-fromto {
  color: $grey_shade;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-right: 6px;
}

.catalog__filter-price-label {
  margin-right: 9px;
}

.catalog__filter-price-input {
  max-width: 86px;
  max-height: 30px;
  padding: 4px 0 4px 13px;
  border-radius: 2px;
  border: 1px solid $grey_color;
  outline: none;
}

.catalog__filter-label-checkbox {
  position: relative;
  padding-left: 32px;
  color: $grey_shade;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 11px;
}

/*chekbox-contact*/


.input-checkbox-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//.catalog__filter-input-checkbox[type="checkbox"] {
//  display: none;
//}

.custom-checkbox-filter {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  border: 1px solid $grey_color;
  border-radius: 3px;
}

.custom-checkbox-filter::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: $primary;
  background-image: url(../images/svg/chekbox.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: -1px;
  right: 0;
  bottom: 0;
  left: -1px;
  opacity: 0;
  border: none;
  border-radius: 3px;
}

.catalog__filter-input-checkbox:checked+.custom-checkbox-filter::before {
  opacity: 1;
}

.catalog__filter-input-checkbox:hover~.custom-checkbox-filter,
.catalog__filter-input-checkbox:focus+.custom-checkbox-filter {

  border: 1px solid $primary;
}


/*hero*/
.catalog__hero {
  padding-bottom: 57px;
}

.catalog__hero-img {
  vertical-align: top;
  border-radius: 10px 10px 0 0;
}

.catalog__hero-wrap {
  background-color: #333;
  padding: 30px;
  border-radius: 0 0 10px 10px;
}

.catalog__hero-page {
  color: $gold;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
}



.catalog__hero-link {
  display: flex;
  flex-direction: row;
  color: $primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  align-items: center;
  border-bottom: 2px solid transparent;
  margin-right: 5px;
  outline: none;
}

.catalog__hero-text {
  color: $grey_color;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 12px 0;
}

/*main*/
.catalog__wrap {
  display: flex;
  flex-direction: row;
}

.catalog__wrap-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 296px;
  margin-right: 32px;
}

.catalog__wrap-main-list {
  position: relative;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 420px 420px 420px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item-1,
.catalog__item-2,
.catalog__item-3,
.catalog__item-4,
.catalog__item-5,
.catalog__item-6,
.catalog__item-7,
.catalog__item-8,
.catalog__item-9 {
  grid-column: span 3;
}

.catalog__main-page {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0 0 24px 0;

}

.open-1024 {
  display: none;

}

.catalog__list-number {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80px;
  align-items: center;
  padding: 38px 0 0 0;
  list-style: none;
  margin: 0 auto;
}

.catalog__number-item-link {
  color: $primary;
  text-align: center;
  outline: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding: 3px 9px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid $primary;
}

.catalog__number-item:last-child {
  display: none;

}

/*1024*/
@media(max-width:1024px) {

  .catalog__main-page,
  .catalog__page-filter,
  .catalog__hero {
    display: none;
  }

  .open-1024 {
    display: block;
  }

  .catalog__wrap {
    display: block;
  }

  .catalog__wrap-left {
    max-width: 652px;
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 10px;
  }


  .catalog__filter {
    display: flex;

    gap: 32px;
  }

  .catalog__filter-top,
  .catalog__filter-center {
    width: 146px;
  }

  .catalog__filter-top,
  .catalog__filter-center,
  .catalog__filter-bottom {
    margin-bottom: 0;
  }

  .catalog__page-price {
    margin-bottom: 10px;
  }

  .catalog__filter-bottom-wrap {
    align-items: center;
    flex-direction: row;
  }

  .catalog__filter-bottom-wrap-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  }

  .catalog__filter-label-checkbox {
    margin-bottom: 12px;
  }

  .catalog__page-color {
    margin-bottom: 10px;
  }

  .filter-fromto {
    margin-right: 9px;
  }

  .catalog__filter-price-label {
    position: relative;
    bottom: 4px;
  }
}

@media(max-width:850px) {
  .catalog__wrap-main-list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(6, 1fr);
  }

  .catalog__item-1,
  .catalog__item-2,
  .catalog__item-3,
  .catalog__item-4,
  .catalog__item-5,
  .catalog__item-6,
  .catalog__item-7,
  .catalog__item-8,
  .catalog__item-9 {
    grid-column: span 3;
  }

  .catalog__item-7,
  .catalog__item-8,
  .catalog__item-9 {
    display: none;
  }

  .catalog__list-number {
    padding-top: 35px;
    max-width: 128px;
  }

  .catalog__number-item:last-child {
    display: block;
  }

  .catalog__wrap-main-list {
    grid-template-columns: repeat(6, minmax(36px, 1fr));
  }
}

@media(max-width:710px) {
  .open-1024 {
    margin-top: -8px;
  }

  .catalog__filter-label-checkbox:last-child {
    margin-bottom: 0;
  }




  .catalog__filter-top,
  .catalog__filter-center,
  .catalog__filter-bottom {
    margin-bottom: 0;
  }

  .catalog__filter-center {
    max-width: max-content;
  }

  .catalog__filter {
    gap: 16px;
    flex-wrap: wrap;
  }

  .catalog__wrap-left {
    margin-bottom: 28px;
  }

  .catalog__wrap-main-list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, minmax(36px, 1fr));
    grid-template-rows: 330px 330px 330px;
  }

  .catalog__item-1,
  .catalog__item-2,
  .catalog__item-3,
  .catalog__item-4,
  .catalog__item-5,
  .catalog__item-6,
  .catalog__item-7,
  .catalog__item-8,
  .catalog__item-9 {
    grid-column: span 3;
  }

}

@media(max-width:440px) {
  .breadcrumbs {
    display: none;
  }
}


@media(max-width:320px) {
  .catalog__wrap-main-list {

    grid-template-rows: 278px 278px 278px;
  }
}